:root{
  --primary-color:rgba(82, 73, 73, 0.237);
}

*{
  margin:0px;
  padding:0px;
}

body{
  flex-wrap:wrap;
  background: url(images/background-image.jpg);
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  

}
 .background img{
 
}

.info{
  background-color: grey;
  color:white;
  display: flex;
  justify-content: space-evenly;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.top{
/* background-color: #579fa3; */
display: flex;
justify-content: center;
text-align: center;

}

.top-logo1{
border-radius: 80px;
 box-shadow:-5px 5px 2px 2px #333;
letter-spacing: 3px;
 animation:change 120s infinite; 
}

@keyframes change {
  0%{
background-color: #579fa3;
  }
  12.5%{background-color: #3674B5;}
  25%{
background-color: #8a9ea3;
  }
   37.5%{background-color: #B17F59;}
  50%{
background-color: #333;
  } 62.5%{background-color: #82475c;}
  75%{
background-color: #ad7070;
  } 87.5%{background-color: #03A791;}
  100%{
background-color: #4b7f8c;
  }
}


.header{
  display:flex;
  align-items: center;
border-bottom: 0.3rem solid goldenrod;
}
/* .logo{
 
  color: rgb(202, 37, 131);
  width: 15%;
  padding-left: 5px;
} */

.logo img{
  width: 110px;
  height: 90px;
  border-radius: 10px;
  box-shadow:-5px 10px 8px 2px #333;
}
.nav-container{
  margin: 50px;
  width: 75%;
}

.nav-container ul{
  font-weight: bold;
  display:flex;
  justify-content: space-between;
  

}

.nav-container ul li {
letter-spacing: 3px;
list-style: none;
display: flex;
justify-content: space-evenly;
}

.nav-container a{
  color: goldenrod;
  text-decoration: none;
}

.nav-container select{
  background: none;
  border: none;
  width: 80px;
  font-weight: bold;
  color: goldenrod;
  letter-spacing: 3px;
   
}

.nav-container option{
  /* border:none; */
  background-color: white;
  color: red;
 
}
.nav-container ul li:hover{
  /* border-bottom: 4px solid goldenrod; */
  transform: scale(0.7,0.7);
  transition: all .3s ease;
}
.mobile-container{
  visibility: hidden;
}

@media(max-width:830px){
  .nav-container{
    display: none;
  }
   
.mobile-container{
  margin-left: 50px;
  width: 70%;
  visibility: visible;
  position: relative;
  
}
.mobile-container h2{
  
text-align: right;

}
.mobile-container h2 select{
  border: none;
  width: 70px;
  font-weight: bold;
  background: none;
  color: goldenrod;
}

}

@media(max-width:600px){

  body{
   font-size: x-small;
  }
  .info{
    border: 1px solid;
    margin-left: 0px;
    display: flex;
    justify-content: none;
    
  }
  .info span{
    margin: 5px;
  }
  .mobile-container h2{
    padding-right: 10px;
  }

}